altair==4.1.0
astor==0.8.1
attrs==19.3.0
backcall==0.1.0
base58==2.0.0
bert-serving-client==1.10.0
bert-serving-server==1.10.0
bleach==3.1.4
blinker==1.4
boto3==1.12.46
botocore==1.15.46
cachetools==4.1.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
colorama==0.4.3
decorator==4.4.2
defusedxml==0.6.0
docutils==0.15.2
entrypoints==0.3
enum-compat==0.0.3
Flask==1.1.2
fuzzywuzzy==0.18.0
GPUtil==1.4.0
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jmespath
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
mistune
nbconvert
nbformat
notebook
numpy
packaging
pandas
pandocfilters
parso
pathtools
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
pydeck
Pygments
pyparsing
pyrsistent
python-dateutil
python-Levenshtein
pytz
pywin32
pywinpty
pyzmq
qtconsole
QtPy
requests
s3transfer
scikit-learn
scipy
Send2Trash
six
sklearn
streamlit
termcolor
terminado
testpath
toml
toolz
tornado
traitlets
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
xlrd
zipp

