click
Flask
fuzzywuzzy
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
python-dateutil
python-Levenshtein
pytz
six
Werkzeug
xlrd
gunicorn
beautifulsoup4==4.8.2
conda==4.8.3
requests==2.22.0
requests-oauthlib==1.3.0
pandas==1.0.1
numpy==1.18.1
tqdm==4.43.0
