<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--  Material Design      -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-deep_orange.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

        <!-- embedding google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/new_styles.css" rel="stylesheet">

        <title>Frankie - {% block title %}{% endblock %}</title>

    </head>

    <body>

        {% if get_flashed_messages() %}
            <header>
                <div id="msg" class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
            <script>
            $("#msg").fadeOut(10000);
            </script>

        {% endif %}

        <main class="container-fluid ">
            <div class="container">

                {% block main %}{% endblock %}
            </div>
        </main>

        <footer class="small text-center text-muted">
        </footer>
    <script>
    </script>
    </body>

</html>

