{% extends "layout.html" %}

{% block title %} Teampage {% endblock %}

{% block main %}
<div class="row">
    <div id="jan" class="col-3">
        <div class="row">
            <div class="col">
                <img src="">
            </div>
            <div class="col">
                <img src="{{ url_for('static', filename='buttons/twitter.png') }}">
                <img src="{{ url_for('static', filename='buttons/twitter.png') }}">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Jan</h1>
                <p1>Some text</p1>
            </div>
        </div>
    </div>
</div>

{% endblock %}