{% extends "layout_search.html" %}

{% block title %} Search {% endblock %}

{% block main %}

<div class="mdl-layout mdl-js-layout">
  <div class="mdl-layout--fixed-header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="https://frankie-ai.com"><i class="material-icons home-icon">home</i></a>
      </nav>
    </div>
  </div>
  <main class="mdl-layout__content">
    <div class="search-form">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col" align="center">
          <img src="{{ url_for('static', filename = 'frankie_new_logo.png') }}" height="130vh">
        </div>
      </div>
      <form method="GET" action="/search">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col" align="center">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label search-textfield">
              {{ form.query(class_="mdl-textfield__input") }}
              {{ form.query.label(class_="mdl-textfield__label") }}
            </div>
          </div>
        </div>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col" align="center">
            <!-- Accent-colored raised button with ripple -->
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
              Search
            </button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" id="trial-btn">
              Try it out!
            </button>
          </div>
        </div>
      </form>
    </div>
  </main>
</div>

{% endblock %}